.item-detail {
    width: 20%;
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    align-items: center;
}

.item-detail img {
    width: 100%;
}
