.navbar-primary {
    float: left;
    width: 100%;
    box-shadow: 1px 3px 5px #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.cart-widget {
    display: flex;
    align-items: center;
}

.navbar-primary ul {
    list-style: none;
    display: flex;
}

.navbar-primary ul li {
    margin: 0px 10px;
}
