/* .item-count {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.item-count {
    display: flex;
    /* height: 77px; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item-count p {
    font-size: 22px;
}

.item-count button {
    padding: 10px;
    font-size: 27px;
    margin: 10px;
}